<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<% include partials/menu %>
<body>
    <% include partials/head %>
    <div class="container">
        <div class="jumbotron">
            <h1>HaiDoc</h1>
            <p>Sakit? males ke rumah sakit? HaiDoc aja...</p>
        </div>
    </div>
</body>
</html>