<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<% include partials/menu %>
<body>
    <%if(!session.user) {%>
    <div class="container container-fluid">
    <%if(q == 3){%>
<div class="alert alert-danger">
<strong>Login</strong> gagal, coba perbaiki data login.
</div>
<%}else if(q == 4){ %>
<div class="alert alert-danger">
<strong>Tanggal Appointment</strong> tidak boleh kosong.
</div>
<%}%>
        <form method="POST" action="/<%=role%>/login">
            <div class="form-group">
                <label> email </label>
                <input name="email" type="email" class="form-control" placeholder="Enter email...">
            </div>
            <div class="form-group">
                <label> password </label>
                <input name="password" type="password" class="form-control" placeholder="Enter password...">
            </div>
            <div class="form-group">
                <label> role </label>
                <input name="<%=role%>" type="text" class="form-control" value="<%=role%>" disabled>    
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <%}%>
</body>
</html>