<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    
</head>
<% include ../partials/menu %>
<div class="container">
<h1>Make Appointment</h1>
<br></br>
<br></br>
<form action="/patient/executeAppointment/<%=id%>" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Keluhan</label>
    <input name="keluhan" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukan Keluhan, penyakit">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
  <label for="exampleInputEmail1">Tanggal</label>
  <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" name="date">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
    
    </div>
    <small id="emailHelp" class="form-text text-muted">Pick appointment date with doctor</small>
</div>


  <div class="form-group">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>

  
</form>
</div>